@font-face {
  font-family: PlastoTrial_ExtraLight;
  font-weight: 700;
  src: url(/font/PlastoTrial-ExtraLight.otf) format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: PlastoTrial_ExtraBold;
  font-weight: 700;
  src: url(/font/PlastoTrial-ExtraBold.otf) format("truetype");
  text-rendering: optimizeLegibility;
}
* {
  padding: 0;
  margin: 0;
}

.forget-link {
  color: #ff5556;
  text-decoration: none;
}

.forget-link:hover {
  text-decoration: underline;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.content .left {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10%;
  box-sizing: border-box;
  font-family: PlastoTrial_ExtraLight;
}
.content .left .title {
  text-align: center;
}
.content .left .title .title-h1 {
  margin: 5% 0;
  text-align: center;
  font-size: 2vw;
  font-family: PlastoTrial_ExtraBold;
}
.content .left .title .tips {
  line-height: 30px;
  color: #727272;
}
.content .left .form {
  width: 100%;
  margin-top: 10%;
}
.content .left .form .input-wrapper {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.input-wrapper span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  font-size: 1em;
  pointer-events: none;
}

.input-wrapper input:valid ~ span,
.input-wrapper input:focus ~ span{
  collapse: black;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: #fff;
}

.input-wrapper span {
  transition: all 0.5s;
}

.content .left .form .input-wrapper input {
  width: 100%;
  height: 6vh;
  border: 1px solid #000;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  font-family: PlastoTrial_ExtraLight;
}
.remember-me {
  text-align: left;
  margin: 10px 0;
  cursor: pointer;
}
.content .left .form .forgot-pwd {
  text-align: right;
  margin: 10px 0;
  cursor: pointer;
}
.content .left .form .btn {
  width: 100%;
  height: 50px;
  border: 0;
  background-color: #000;
  color: #fff;
  margin: 10px 0;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  font-family: PlastoTrial_ExtraBold;
}
.content .left .other-login {
  width: 100%;
}
.content .left .other-login .divider {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .left .other-login .divider .line {
  display: inline-block;
  flex: 1;
  height: 1px;
  background-color: rgb(162, 172, 185);
}
.content .left .other-login .divider .divider-text {
  vertical-align: middle;
  margin: 0 20px;
  display: inline-block;
  color: #000;
  white-space: nowrap;
}
.content .left .other-login .other-login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .left .other-login .other-login-wrapper .other-login-item {
  width: 30px;
  height: 30px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  margin: 0 10px;
  transition: 0.7s;
  background-color: #000;
  border-radius: 50%;
}
.content .left .other-login .other-login-wrapper .other-login-item svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  vertical-align: middle;
}
.content .left .other-login .other-login-wrapper .other-login-item span {
  vertical-align: middle;
}
.content .left .other-login .other-login-wrapper .other-login-item:hover {
  background-color: #fff;
  border: 0;
  box-shadow: 1px 10px 32px 1px rgba(186, 175, 221, 0.37);
}
.content .left .other-login .other-login-wrapper .other-login-item:hover svg {
  fill: #000;
}
.content .left .register {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
.content .left .register span {
  color: rgb(135, 228, 89);
  cursor: pointer;
}
.content .right {
  width: 55%;
  height: 100%;
  padding: 40px 40px 40px 10px;
  box-sizing: border-box;
  border-radius: 20px;
}
.content .right .swiper {
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
.content .right .swiper .swiper-wrapper {
  position: relative;
}
.content .right .swiper .swiper-wrapper .img-tips {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-family: PlastoTrial_ExtraBold;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .content .left {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .content .left .title .title-h1 {
    font-size: 8vw;
  }
  .content .right {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */
