<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>ChatGPT-like resetPassword</title>
</head>
<body>

<!-- Logo 标志 -->
<div class="logo-container">
    <img th:src="@{/images/muhuo-logo.png}" alt="Logo">
</div>

<div class="reset-container">
    <h2>重置密码</h2>
    <form id="resetForm">
        <label for="phoneOrEmail">电子邮件:</label>
        <div class="input-container">
            <input type="text" id="phoneOrEmail" class="input-text" name="phoneOrEmail" required>
            <div class="validation-icon" id="phoneOrEmailIcon"></div>
            <div class="error-message" id="phoneOrEmailError"></div>
        </div>

        <label for="verificationCode">验证码:</label>
        <div class="input-container">
            <input type="text"  id="verificationCode" class="ver-text" name="verificationCode" placeholder="输入验证码" required>
            <button type="button" id="getVerifyCodeBtn" class="ver-button" >获取验证码</button>
        </div>
        <div class="validation-icon" id="verificationCodeIcon"></div>
        <div class="error-message" id="verificationCodeError"></div>
        <button type="submit" id="resetBtn" class="button-confirm" disabled>重置密码</button>
    </form>
</div>

<script th:src="@{/js/resetPassword.js}"></script>
</body>
</html>
